body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: url("../images/billy-huynh-278252.jpg") center;
  box-sizing: border-box;
  color: #E0FFFF;
}

html {
  font-size: 10px;
}

.wrapper {
  background-color: black;
  display: flex;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: lighter;
}

img {
  border-left: 2px solid gainsboro;
  float: right;
  width: 50%;
}
